<!-- Modal Structure -->
<div id="server-info-{{ server.id }}" class="modal">
    <div class="modal-content left-align">
        <h5>
            <span>{{ server.ip_address }}:{{ server.port }}</span>
            <a
                href="#"
                class="material-icons copy-to-clipboard"
                title="Copy to clipboard"
                onclick="copyAddress('{{ server.ip_address }}:{{ server.port }}')"
            >
                content_copy
            </a>
        </h5>
        <hr />
        <p>{{ server.description }}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
        