{% extends 'base.html' %}

{% block content %}

    <script>
        function copyAddress(address) {
            console.log(address);
            var textInput = document.createElement("textarea");
            textInput.value = address;
            document.body.appendChild(textInput);
            textInput.select();
            document.execCommand("copy");
            textInput.remove();
        }

        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    <div class="container pt-5">
        <table class="highlight">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                    </th>
                    <th class="right-align"></th>
                </tr>
            </thead>

            <tbody>
            {% for server in servers %}
                <tr>
                    <td>
                        <span class="flag-icon flag-icon-{{ server.country }}"></span>
                    </td>
                    <td>{{ server.ip_address}}:{{ server.port }}</td>
                    {# server status #}
                    <td>
                        {% if server.status %}
                            <i title="Server available" class="material-icons light-green-text">
                                check_circle
                            </i>
                        {% else %}

                            <i title="Server unavailable" class="material-icons">
                                highlight_off
                            </i>
                        {% endif %}
                    </td>
                    {# options #}
                    <td class="right-align">
                        <div class="server-options">
                            <a
                                href="#"
                                class="material-icons copy-to-clipboard"
                                title="Copy to clipboard"
                                onclick="copyAddress('{{ server.ip_address }}:{{ server.port }}')"
                            >
                                content_copy
                            </a>
                            <a
                                href="#server-info-{{ server.id }}"
                                class="material-icons more-info modal-trigger"
                                title="More information"
                            >
                                info
                            </a>
                        </div>

                        {% with server=server %}
                        {% include 'components/server-info.html' %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}