  <nav>
    <div class="nav-wrapper black accent-2">
        <div class="container">
            <a href="{{ url_for('servers.server_list') }}" class="brand-logo blue-grey-text">ListTheseServers SMS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('servers.server_list') }}" class="blue-grey-text">Servers</a></li>
                <li><a href="{{ url_for('servers.server_list') }}" class="blue-grey-text">Requests</a></li>
            </ul>
        </div>
    </div>
  </nav>
        
