  <nav>
    <div class="nav-wrapper light-blue accent-2">
        <div class="container">
            <a href="{{ url_for('servers.server_list') }}" class="brand-logo">Nitrox Public Servers</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('servers.server_list') }}">Servers</a></li>
                <li><a href="{{ url_for('servers.server_list') }}">Requests</a></li>
            </ul>
        </div>
    </div>
  </nav>
        
